.page-question {
  // margin-top: 100px;
  // position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-question {
  background: #1f2732;
  // background-image: url("/img/quetionbg2.jpg");
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 35px;
  color: var(--primary-hover-color);
  margin: 0;
  padding: 0;
}

.question__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.swiper-general {
  // background-image: url("/img/quetionbg2.jpg");
  background-position: center;
  background-size: cover;
  overflow: visible;
  display: flex;
  width: 100%;
  height: rem(500);
  border-bottom: 15px ridge #d1b06b;
}

.swiper-top {
  background-image: url("/img/quetionbg2.jpg");
  // border-bottom: 15px ridge #d1b06b;
}

.swiper-top:after {
  content: "";
  text-align: center;
  width: 100%;
  height: rem(500);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.Swipertop {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: clamp(rem(260), 29.17vw, rem(350));
  width: clamp(rem(260), 29.17vw, rem(350));
}

.swiper-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.swiper-slide {
  background-image: url("/img/question.png");
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid #d1b06b;
}

.swiper-slide:after {
  content: "";
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.swiper-slide__card {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: clamp(rem(25), 2.5vw, rem(30));
  color: var(--primary-hover-color);
  text-align: center;
  width: 100%;
  z-index: 2;
  padding: rem(30) rem(30);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, -40px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--primary-hover-color, var(--swiper-theme-color));
}

// нижний свайпер

.swiper-bottom {
  background-image: url("/img/question4.jpg");
}

.swiper-bottom:after {
  content: "";
  text-align: center;
  width: 100%;
  height: rem(500);
  position: absolute;
  top: rem(500);
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.SwiperBottom {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: clamp(rem(260), 29.17vw, rem(350));
  width: clamp(rem(260), 29.17vw, rem(350));
}

.swiper-slide-bottom {
  border: 1px solid #d1b06b;
  background-image: url("/img/quetionbg.png");
}

// страница с текстом ответа
.typesOfDeclarations {
  margin-top: rem(100);
  display: flex;
  flex-direction: column;
  gap: rem(20);

  font-family: "Cormorant Garamond", sans-serif;
  font-size: clamp(rem(25), 2.5vw, rem(30));
  color: var(--primary-hover-color);

  b,
  p {
    color: var(--bs-font-color);
  }

  a {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  button {
    width: auto;
    background: #1f2732;
    border: 1px solid #d1b06b;
    color: #d7d7d7;
    font-family: "Cormorant Garamond";
    font-size: clamp(rem(30), 5vw, rem(35));
    margin: rem(20) rem(15);
    padding: rem(5) rem(5);
    align-self: center;
  }
}
