.popup(data-popup="popup-2" data-close-overlay)
  .popup__wrapper(data-close-overlay)
    .popup__content
      .popup__body
        h2 Які види декларацій існують, коли їх слід подавати і який звітний період вони охоплюють?
        p Законом та Порядком № 449/21 передбачено три види декларацій:
        p 1. щорічна декларація – декларація, яка подається відповідно до ч. 1 ст. 45 Закону, або абз. 2 ч. 2 ст. 45 Закону в період з 00 годин 00 хвилин 01 січня до 00 годин 00 хвилин 01 квітня року, наступного за звітним роком. Така декларація охоплює звітний рік (період з 01 січня до 31 грудня включно), що передує року, в якому подається декларація, та за загальним правилом містить інформацію станом на 31 грудня звітного року (додатково див. відповіді на запитання 72 та 74 цих Роз’яснень).
        p Законом можуть бути встановлені інші строки подання щорічної декларації (див. відповіді на запитання 4 та 11 цих Роз’яснень). 
        p Обов’язок подавати щорічну декларацію виникає в суб’єкта декларування:
        p щороку протягом строку здійснення діяльності, яка передбачає обов’язок подання декларації, або перебування на посаді, яка зумовлює здійснення такої діяльності (щорічна декларація (продовжується діяльність)). 
        p Для цього у розділі І «Вид декларації та звітний період» декларації слід обрати позначку «я продовжую виконувати функції держави або органу місцевого самоврядування»;
        p наступного року після припинення діяльності, яка передбачає обов’язок подання декларації, або перебування на посаді, яка зумовлює здійснення такої діяльності (щорічна декларація (після звільнення)). 
        p Для цього у розділі І «Вид декларації та звітний період» декларації слід обрати позначку «я припинив(ла) виконувати функції держави або органу місцевого самоврядування (після звільнення)»;
        p 2. декларація при звільненні – декларація, яка подається відповідно до абз. 1 ч. 2 ст. 45 Закону протягом 30 календарних днів з дня припинення діяльності.
        p Така декларація подається за період, який не був охоплений деклараціями, раніше поданими суб’єктом декларування, та містить інформацію станом на останній день такого періоду, яким є останній день здійснення діяльності, яка передбачає обов’язок подання декларації, перебування на посаді, яка зумовлює здійснення такої діяльності. 
        p Під раніше поданими деклараціями розуміються декларації, що були подані до Реєстру, крім декларації кандидата на посаду (абз. 1–3 пп. 2 п. 2 розділу ІІ Порядку № 449/21).
        p Днем припинення діяльності є останній день виконання функцій держави або місцевого самоврядування, або іншої діяльності, зазначеної у пп. «а», «в» – «ґ» п. 2 ч. 1 ст. 3 Закону, у тому числі перебування на посадах, зазначених у п. 1, пп. «а»,  «в» – «ґ» п. 2 ч. 1 ст. 3 Закону.
        p Відлік строку подання декларації при звільненні починається з 00 годин 00 хвилин дня, наступного за днем припинення діяльності.
        p Якщо в особи упродовж звітного періоду були підстави для подання декларації при звільненні декілька разів, кожна з них має бути подана за період, який не був охоплений раніше поданими деклараціями.
        button.popup__close.button-close(type="button") Меню
        a(href="https://wiki.nazk.gov.ua/category/deklaruvannya/i-vydy-deklaratsij-ta-poryadok-yih-podannya/#post4154", target='_blank')
          button.nazk_btn(type="button") НАЗК
        .pop__block-logo   
          img.pop__logo(src="/img/knoeledge_logo.svg", alt="knowlogo")   
