.popup(data-popup="popup-1-13" data-close-overlay)
  .popup__wrapper(data-close-overlay)
    .popup__content
      .popup__body
        h2 13. Як коректно заповнити блок полів «Для ідентифікації за межами України»?
        p У блоках полів «Для ідентифікації за межами України» розділу 2.1 «Інформація про суб’єкта декларування» декларації та «Прізвище, ім’я, по батькові для ідентифікації за межами України, документ, що посвідчує особу» розділу 2.2 «Інформація про членів сім’ї суб’єкта декларування» декларації зазначаються відомості про варіанти написання латиницею прізвища, імені, по батькові /за наявності/, а також відомості про відповідні документи, які посвідчують особу /пп. 3 п. 2, пп. 3 п. 3 розділу ІV Порядку № 449/21/.
        p Для цього у відповідному блоці полів розділів 2.1 та/або 2.2 декларації слід обрати позначку «Дані наявні» і після цього натиснути кнопку «Додати».
        p ! Такі документи можуть бути видані державою Україна або будь-якою іншою державою.
        ul Відомості про написання прізвища, імені, по батькові /за наявності/ латиницею можуть бути зазначені в таких документах, виданих державою Україна: 
          li - паспорт громадянина України для виїзду за кордон;
          li - дипломатичний паспорт України;
          li - службовий паспорт України;
          li - посвідчення особи моряка;
          li - посвідчення члена екіпажу;
          li - посвідчення особи на повернення в Україну;
          li - тимчасове посвідчення громадянина України;
          li - посвідчення особи без громадянства для виїзду за кордон;
          li - посвідка на постійне проживання;
          li - посвідка на тимчасове проживання;
          li - картка мігранта;
          li - посвідчення біженця;
          li - проїзний документ біженця;
          li - посвідчення особи, яка потребує додаткового захисту;
          li - проїзний документ особи, якій надано додатковий захист;
          li - посвідчення водія
        p /ч. 1 ст. 13 Закону України «Про Єдиний державний демографічний реєстр та документи, що підтверджують громадянство України, посвідчують особу чи її спеціальний статус»/.
        p Щодо документів, виданих іноземною державою – це можуть бути посвідки на проживання, документи, що посвідчують приналежність предків до певного народу, посвідчення водія тощо /у різних державах такі документи називаються по-різному. Республіка Польща, наприклад, видає Кartę stałego pobytu та Кartę polaka/.
        p ! PESEL /Powszechny Elektroniczny System Ewidencji Ludności/ – це ідентифікаційний номер особи; є аналогом українського Реєстраційного номера облікової картки платника податків. PESEL не є документом, що посвідчує особу. Тому відомості про нього підлягають відображенню у полі «Ідентифікаційний номер /за наявності/» блоку полів «Ідентифікація за межами України» розділів 2.1 «Інформація про суб’єкта декларування» та 2.2 «Інформація про членів сім’ї суб’єкта декларування» декларації під час заповнення відомостей на підставі інших документів, що посвідчують особу, виданих Республікою Польща.
        p За наявності декількох документів, виданих в одній державі, у яких варіанти написання прізвища, імені, по батькові /за наявності/ збігаються, у блоці полів щодо документа, що посвідчує особу, зазначаються відомості про один із документів, пріоритет з яких має паспорт або посвідка на проживання. Якщо в особи є кілька дійсних паспортів громадянина України для виїзду за кордон або кілька видів паспортів /наприклад, громадянина України для виїзду за кордон та службовий/, у декларації відображаються відомості про будь-який із них.
        p За наявності в особи кількох документів, виданих в одній державі, у яких варіанти написання прізвища, імені, по батькові /за наявності/ не збігаються, у декларації слід вказати всі такі документи.
        p За наявності документів, що посвідчують особу, виданих у різних державах, зазначаються всі такі документи, незалежно від варіантів написання прізвища, імені, по батькові /за наявності/.
        p У полі «Ідентифікаційний номер /за наявності/» вказується номер, присвоєний особі іноземною державою. За відсутності такого слід обрати позначку «Не застосовується».
        p Крім того, Указом Президента України від 04.03.2021 № 85/2021 введено в дію рішення Ради національної безпеки і оборони від 26.02.2021 «Про невідкладні заходи щодо протидії загрозам національній безпеці у сфері громадянства».
        p У пп. «й» пп. 2 п. 1 вищевказаного рішення вирішено запровадити у деклараціях відображення інформації про відсутність громадянства /підданства/ іноземної держави, а також документів, які дають право на постійне проживання на території іноземної держави.
        p Під час заповнення блоку полів «Для ідентифікації за межами України» суб’єкт декларування зобов’язаний підтвердити відсутність громадянства /підданства/ іноземної держави / права на постійне проживання на території іноземної держави шляхом проставлення позначки «У мене відсутнє громадянство /підданство/ іноземної держави, а також документи, які дають право на постійне проживання на території іноземної держави», або – у разі наявності громадянства / права на постійне проживання – зазначити відповідні відомості у полях декларації.
        p Проставлення цієї позначки не залежить від наявності чи відсутності в особи відомостей про варіанти написання латиницею прізвища, імені, по батькові та відомостей про відповідні документи, які посвідчують особу.
        p ! Інформація у блоці полів «Для ідентифікації за межами України» зазначається станом на кінець звітного періоду.
        button.popup__close.button-close(type="button") Меню
        a(href="https://wiki.nazk.gov.ua/category/deklaruvannya/i-vydy-deklaratsij-ta-poryadok-yih-podannya/#post4180", target='_blank')
          button.nazk_btn(type="button") НАЗК
        .pop__block-logo   
          img.pop__logo(src="/src/assets/images/knoeledge_logo.svg", alt="knowlogo")   
