.popup(data-popup="popup-23" data-close-overlay)
  .popup__wrapper(data-close-overlay)
    .popup__content
      .popup__body
        h2 Перелік посад з високим та підвищеним рівнем корупційних ризиків затверджено наказом Національного агентства від 06.11.2023 № 249/23 «Про затвердження Переліку посад з високим та підвищеним рівнем корупційних ризиків».
        ul До таких посад належать посади:
            ol керівників секретаріатів Верховної Ради України та їх заступників, якщо такі посади належать до патронатної служби, за умови виконання ними організаційно-розпорядчих чи адміністративно-господарських функцій; 
            ol працівників Офісу Президента України, за винятком посад, які передбачають зайняття відповідального або особливо відповідального становища;
            ol членів Рахункової палати, а також членів інших державних колегіальних органів, за винятком посад, які передбачають зайняття відповідального або особливо відповідального становища; 
            ol керівників та заступників керівників структурних підрозділів у складі самостійних структурних підрозділів центрального апарату Національного банку України;
            ol керівників та заступників керівників державних підприємств, установ, організацій, інших суб'єктів господарювання, призначення яких (укладення контракту з якими) здійснюють державні органи; 
            ol керівників підприємств, які здійснюють діяльність у галузі: 
              li містобудування;
              li житлово-комунального господарства; 
              li використання та охорони земель, природних ресурсів і охорони довкілля;
              li соціально-економічного розвитку; 
              li транспорту та дорожнього господарства; 
              li управління майном, торгівлі та розвитку підприємництва, призначення яких (укладення контракту з якими) здійснює міський голова міста Києва та Севастополя; 
            ol державної служби категорії «В», визначені структурою державних органів, юрисдикція яких поширюється на всю територію України, які не перебувають у складі самостійних структурних підрозділів, - є самостійними у своїй діяльності, підпорядковуються безпосередньо керівнику або заступнику керівника державного органу; 
            ol членів наглядової ради господарського товариства, у статутному капіталі якого більше 50 відсотків акцій (часток) прямо чи опосередковано належить державі, державного або комунального господарського об'єднання, державної холдингової компанії; 
            ol голів постійних комісій, утворених в обласних, районних, Київській та Севастопольській міських радах, до компетенції яких належить розгляд питань у сфері бюджету, будівництва, земельних відносин та комунальної власності;
            ol міських (міст районного значення) голів, селищних і сільських голів;
            ol заступників голів місцевих державних адміністрацій, за винятком посад, які передбачають зайняття відповідального або особливо відповідального становища;
        button.popup__close.button-close(type="button") Меню
        a(href="https://wiki.nazk.gov.ua/category/deklaruvannya/ii-sub-yekty-deklaruvannya/#post4202", target='_blank')
          button.nazk_btn(type="button") НАЗК
        .pop__block-logo
          img.pop__logo(src="/src/assets/images/knoeledge_logo.svg", alt="knowlogo")   
