.popup(data-popup="popup1_12_0" data-close-overlay)
  .popup__wrapper(data-close-overlay)
    .popup__content
      .popup__body
        h2 12. Станом на яку дату зазначається інформація в декларації про суб’єкта декларування?
        ul За загальним правилом інформація у декларації зазначається станом на останній день звітного періоду /за винятком окремих об’єктів декларування/, зокрема відомості про:
          li ідентифікаційні дані у блоках полів «Для ідентифікації в Україні» та «Для ідентифікації за межами України»; 
          li місце роботи та посаду суб’єкта декларування, тип і категорію посади;
          li наявність / відсутність громадянства /підданства/ іноземної держави;
          li належність суб’єкта декларування до осіб, які займають відповідальне та особливо відповідальне становище /додатково див. відповідь на запитання 22 Роз’яснень/;
          li належність посади суб’єкта декларування до посад, пов’язаних з високим та підвищеним рівнем корупційних ризиків /додатково див. відповідь на запитання 23 цих Роз’яснень/;
          li належність суб’єкта декларування до національних публічних діячів /додатково див. відповідь на запитання 24 цих Роз’яснень/.
        p Водночас, враховуючи те, що обов’язок подавати декларацію як такий пов’язаний і виникає лише у зв’язку із зайняттям певної посади / здійсненням відповідної діяльності, існують винятки з цього загального правила.
        br
        p Виняток 1
        p Якщо особа подає декларацію кандидата на посаду за попередній рік, вона повинна зазначати назву майбутнього місця роботи та посади, у зв’язку з якою у неї виник обов’язок подати декларацію, тип і категорію посади, на яку вона претендує, а не місце роботи та посаду, на якій вона фактично перебувала станом на кінець звітного періоду. Тому всі інші перелічені у запитанні статуси зазначаються, зважаючи на статус посади, на яку особа претендує, а не на якій перебувала на кінець року, за який подається декларація.
        br
        p Виняток 2
        p Особа була призначена на посаду у період з 01 січня до 31 березня включно і повинна подати першу щорічну декларацію за попередній рік до 01 квітня.
        p У цьому випадку особа повинна зазначати назву її місця роботи, посади та ті тип і категорію посади, яку вона обіймає на момент подання першої щорічної декларації. Тому всі інші перелічені у запитанні статуси вказуються нею, зважаючи на посаду, яку особа обіймає на момент подання такої декларації.
        br
        p Виняток 3
        p У разі припинення діяльності та подання декларації у наступному після цього році (щорічна декларація (після звільнення)) особа повинна зазначити назву місця роботи, посаду, тип і категорію посади, у зв’язку з якою у неї виник обов’язок подати таку декларацію, а не місце роботи та посаду, на яких вона перебувала станом на останній день звітного року чи на момент подання декларації. Тому всі інші зазначені у запитанні статуси вказуються, зважаючи на посаду, яку особа обіймала на момент звільнення.

        button.popup__close.button-close(type="button") Меню
        a(href="https://wiki.nazk.gov.ua/category/deklaruvannya/i-vydy-deklaratsij-ta-poryadok-yih-podannya/#post4178", target='_blank')
          button.nazk_btn(type="button") НАЗК
        .pop__block-logo   
          img.pop__logo(src="/img/knoeledge_logo.svg", alt="knowlogo")   
