.popup(data-popup="popup-122" data-close-overlay)
  .popup__wrapper(data-close-overlay)
    .popup__content
      .popup__body
        h2 2. Чи можна подати виправлену декларацію або іншим чином виправити інформацію, зазначену в декларації?
        br
        h2 Так, виправлену декларацію можна подати впродовж 30 днів після подання декларації /ч. 4 ст. 45 Закону/.
        p  Для цього не треба звертатися до Національного агентства. Слід натиснути кнопку «Подати виправлену декларацію», яка є активною упродовж відповідного строку в персональному електронному кабінеті суб’єкта декларування у полі поданої декларації.
        p  Після спливу цього строку подати декларацію з достовірними відомостями /виправлену/ можливо лише за результатами проведеної Національним агентством повної перевірки декларації або контролю щодо повноти заповнення декларації. 
        p  Попри це, якщо суб’єкт декларування виявив у декларації недостовірні відомості після 30-денного строку, він може звернутися до Національного агентства з листом із поясненням причин, що призвели до внесення недостовірних відомостей та неподання виправленої декларації у зазначений строк, додавши підтвердні документи /абз. 3 ч. 4 ст. 45 Закону/, та через персональний електронний кабінет Реєстру. Для цього необхідно створити нове повідомлення у вкладці «Мої повідомлення». Слід деталізовано описати виявлені неточності або помилки, пояснити причини зазначення недостовірних відомостей, додати підтвердні документи /за наявності/.
        p  Надання письмової відповіді Національним агентством на такий лист / повідомлення в персональному електронному кабінеті законодавством не передбачено. Водночас подані таким чином відомості мають бути розглянуті Національним агентством під час повної перевірки цієї декларації, у випадку їх подання до початку проведення Національним агентством повної перевірки декларації /абз. 3 ч. 4 ст. 45 Закону/.
          
        button.popup__close.button-close(type="button") Меню
        a(href="https://wiki.nazk.gov.ua/category/deklaruvannya/i-vydy-deklaratsij-ta-poryadok-yih-podannya/#post4156", target='_blank')
          button.nazk_btn(type="button") НАЗК
        .pop__block-logo   
          img.pop__logo(src="/src/assets/images/knoeledge_logo.svg", alt="knowlogo")   
