.popup(data-popup="popup-122" data-close-overlay)
  .popup__wrapper(data-close-overlay)
    .popup__content
      .popup__body
        h2 2-2. Які декларації та в який строк подають особи, які звільнились у 2022, 2023 роках?
        h2 Звільнились у період з 24.02.2022 до 31.12.2022 – подають:
          p 1/ щорічну декларацію з позначкою «я продовжую виконувати функції держави або місцевого самоврядування» за 2021 рік – до 31.01.2024 /якщо така декларація не подана раніше/; 
          p 2/ декларацію при звільненні за період, не охоплений раніше поданими деклараціями – до 31.01.2024; 
          p 3/ декларацію з позначкою «я припинив/ла/ виконувати функції держави або органу місцевого самоврядування /після звільнення/» за 2022 рік – до 31.01.2024.
        h2 Звільнились у період з 01.01.2023 до 11.10.2023 /включно/ – подають:
          p 1/ декларацію за 2021 рік /щорічну декларацію з позначкою «я продовжую виконувати функції держави або місцевого самоврядування» або кандидата на посаду – за потреби та якщо відповідна декларація не подана раніше/ – до 31.01.2024;
          p 2/ щорічну декларацію з позначкою «я продовжую виконувати функції держави або місцевого самоврядування» за 2022 рік – до 31.01.2024 (якщо така декларація не подана раніше); 
          p 3/ декларацію при звільненні за період, не охоплений раніше поданими деклараціями – до 31.01.2024; 
          p 4/ декларацію з позначкою «я припинив/ла/ виконувати функції держави або органу місцевого самоврядування (після звільнення)» за 2023 рік – до 31.03.2024.
        h2 Звільнились у період з 12.10.2023 до 31.12.2023 – подають:
          p 1/ декларацію за 2021 рік (щорічну декларацію з позначкою «я продовжую виконувати функції держави або місцевого самоврядування» або кандидата на посаду – за потреби та якщо відповідна декларація не подана раніше) – до 31.01.2024;
          p 2/ щорічну декларацію з позначкою «я продовжую виконувати функції держави або місцевого самоврядування» за 2022 рік – до 31.01.2024 (якщо така декларація не подана раніше);
          p 3/ декларацію з позначкою «при звільненні» за період, не охоплений раніше поданими деклараціями – протягом 30 днів з дня припинення перебування на посаді / в статусі, що визначені ст. 3 Закону;
          p 4/ декларацію з позначкою «я припинив(ла) виконувати функції держави або органу місцевого самоврядування (після звільнення)» за 2023 рік – до 31.03.2024.
          p ! У випадку переведення суб’єкта декларування на іншу посаду декларація при звільненні не подається. 
          p Чи подається декларація при звільненні, якщо нова посада (в одному або різних органах, закладах, установах, організаціях) також зумовлює обов’язок подання декларації див. відповідь на запитання 7 цих Роз’яснень. 
        button.popup__close.button-close(type="button") Меню
        a(href="https://wiki.nazk.gov.ua/category/deklaruvannya/i-vydy-deklaratsij-ta-poryadok-yih-podannya/#post6109", target='_blank')
          button.nazk_btn(type="button") НАЗК
        .pop__block-logo   
          img.pop__logo(src="/src/assets/images/knoeledge_logo.svg", alt="knowlogo")   
