.popup(data-popup="popup_166" data-close-overlay)
  .popup__wrapper(data-close-overlay)
    .popup__content
      .popup__body
        h2 166. Відомості про які банки, фінансові установи зазначати в декларації?
        p  декларації відображаються відомості про банківські та інші фінансові установи, у яких у суб’єкта декларування або членів його сім’ї відкриті рахунки або зберігаються кошти, інше майно станом на останній день звітного періоду /за умови, що рахунок відкрито не менше ніж за 30 календарних днів, що передували останньому дню звітного періоду/ або протягом не менше половини днів протягом звітного періоду /п. 8-1 ч. 1, ч. 2 ст. 46 Закону/.
        
        ul Такі відомості зазначаються незалежно від:
          li того, знаходиться банк, фінансова установа /головний офіс/ в Україні чи за кордоном,
          li типу рахунку,
          li особи, яка відкрила рахунок, орендувала індивідуальний банківський сейф /комірку/ /це може бути суб’єкт декларування, член його сім’ї чи третя особа/,
          li наявності коштів, майна на рахунку, у сейфі /комірці/ станом на кінець звітного періоду чи протягом звітного періоду.
        p У декларації відображаються відомості про всі банківські та інші фінансові установи, де  є / були відкриті рахунки станом на останній день звітного періоду /за умови їх відкриття за 30 календарних днів, що передували останньому дню звітного періоду/ або протягом не менше половини днів протягом звітного періоду.
        p Декларуванню підлягають відомості про банки, фінансові установи, в яких рахунки відкриті/були відкриті лише на ім’я суб’єкта декларування або членів його сім’ї. У разі відкриття /наявності/ рахунків на ім’я юридичної особи /в тому числі, учасником / засновником / керівником якої є суб’єкт декларування / член  його сім’ї/ відомості про банк, іншу фінансову установу у декларації не зазначаються.
        p Для правильного відображення відомостей про фінансову установу  та залишки коштів на рахунках, слід звертатися до банківської або іншої фінансової установи, де вони відкриті.
        p Завершення строку дії банківської платіжної картки або припинення надходжень на таку картку / рахунок не тягне за собою автоматичне закриття рахунка у банківській установі /наприклад, у разі завершення соціальних виплат у зв’язку з досягненням дитиною 3-річного віку або припинення надходження заробітної плати у зв’язку з припиненням трудових відносин/, крім випадків, передбачених законом або договором.
        p Банківськими установами України є юридичні особи, які на підставі банківської ліцензії мають виключне право надавати банківські послуги, відомості про які внесені до Державного реєстру банків, що ведеться Національним банком України.
        p Іншими фінансовими установами є юридичні особи, які відповідно до закону надають одну чи декілька фінансових послуг, а також інші послуги /операції/, пов’язані з наданням фінансових послуг, у випадках, прямо визначених законом, та внесені до відповідного реєстру в установленому законом порядку /п. 1 ч. 1 ст. 1 Закону України «Про фінансові послуги та державне регулювання ринків фінансових послуг», п. 65 ч. 1 ст. 1 Закону України «Про фінансові послуги та фінансові компанії»/.
        p Для цілей декларування до фінансових установ можуть належати, наприклад, кредитні спілки, недержавні пенсійні фонди, інвестиційні фонди і компанії, фонди фінансування будівництва та інші юридичні особи, виключним видом діяльності яких є надання фінансових послуг, а у випадках, прямо визначених законом, – інші послуги /операції/, пов’язані з наданням фінансових послуг.
        p Система функціонування фонду фінансування будівництва передбачає відкриття управителем рахунка довірителю у системі обліку прав вимоги довірителів ФФБ /Закон України «Про фінансово-кредитні механізми і управління майном при будівництві житла та операціях з нерухомістю»/.
        p З 12.10.2023 відомості про банківські рахунки /IBAN/ не підлягають декларуванню /в силу змін, внесених до п. 8-1 ч. 1 ст. 46 Закону/, водночас залишається обов’язок зазначати відомості про саму банківську або іншу фінансову установу, осіб, які мають право розпоряджатися принаймні одним рахунком або мають доступ до індивідуального банківського сейфа в такій установі, осіб, які відкрили принаймні один рахунок на ім’я суб’єкта декларування або членів його сім’ї в такій установі. 
        p До моменту внесення змін до форми електронної декларації у блоці полів «Інформація про тип та номер рахунка, банківського сейфу /комірки/» рекомендується обирати позначку «Не застосовується».
        p У разі наявності на рахунках у банківських або інших фінансових установах грошових коштів суб’єкта декларування або члена його сім’ї ці кошти підлягають відображенню у розділі 12 «Грошові активи» декларації за умов, викладених у відповіді на запитання 156 цих Роз’яснень/.
        

        button.popup__close.button-close(type="button") Меню
        a(href="https://wiki.nazk.gov.ua/category/deklaruvannya/xv-bankivski-ta-inshi-finansovi-ustanovy/#post4614", target='_blank')
          button.nazk_btn(type="button") НАЗК
        .pop__block-logo   
          img.pop__logo(src="/img/knoeledge_logo.svg", alt="knowlogo")   
