.popup(data-popup="popup_2023" data-close-overlay)
  .popup__wrapper(data-close-overlay)
    .popup__content
      .popup__body
        h2 Кампанія декларування за 2023 звітний період: кому потрібно подати декларації?
        p Уже зараз і до 31 березня 2024 року триває кампанія декларування за 2023 звітний період, яка є менш напруженою за попередню, що завершилася 31 січня цього року. Національне агентство з питань запобігання корупції (НАЗК) вдячне доброчесним службовцям, які вчасно і відповідально відзвітували за свої статки. Закликаємо службовців не затягувати з подачею декларацій за 2023 звітній період, а у випадку виникнення труднощів скористатись усім арсеналом допоміжних ресурсів, спеціально створених НАЗК.
        
        ul Обов’язок подавати щорічну декларацію за 2023 рік виникає, зокрема,  в декларантів, які:
          li хоча би 1 день в період з 1 січня до 31 березня 2024 року виконують діяльність, яка передбачає обов’язок подання декларації, або перебувають на посаді, яка зумовлює здійснення такої діяльності /щорічна декларація /продовжується діяльність/_/. Для цього у розділі І «Вид декларації та звітний період» декларації слід обрати позначку «я продовжую виконувати функції держави або органу місцевого самоврядування»; 
          li в 2023 році припинили здійснювати діяльність, яка передбачає обов’язок подання декларації, або перебування на посаді, яка зумовлює здійснення такої діяльності /щорічна декларація /після звільнення/_/. Для цього у розділі І «Вид декларації та звітний період» декларації слід обрати позначку «я припинив/ла/ виконувати функції держави або органу місцевого самоврядування /після звільнення/».
        p До 31 березня 2024 року також повинні подати декларації за 2021, 2022 звітні періоди /якщо такі декларації вже не було подано раніше/ суб’єкти декларування з числа військовослужбовців, на яких не поширюється відтермінування обов’язку подання декларації /топпосадовці, члени ВЛК, ЛЛК, працівники ТЦК та СП, закупівельники/.
        
        
        button.popup__close.button-close(type="button") Меню
        a(href="https://nazk.gov.ua/uk/novyny/kampaniya-deklaruvannya-za-2023-zvitnyy-period-komu-potribno-podaty-deklaratsii/", target='_blank')
          button.nazk_btn(type="button") НАЗК
        .pop__block-logo   
          img.pop__logo(src="/img/knoeledge_logo.svg", alt="knowlogo")   
