.popup(data-popup="popup_func" data-close-overlay)
  .popup__wrapper(data-close-overlay)
    .popup__content
      .popup__body
        h2 У Реєстрі декларацій з’явилася функція, яка дозволить декларантам дізнаватися відомості про свою власність, наявні в реєстрах. Вона полегшить заповнення декларації для тих, хто втратив документи про власність
        p Національне агентство з питань запобігання корупції /НАЗК/ запускає в Реєстрі декларацій спеціальну функцію — «Дані для декларації». 
        p Функція дозволяє дізнатися інформацію про об’єкти нерухомості, об’єкти незавершеного будівництва та транспортні засоби, які належать або належали декларанту або які він успадкував, а також наявні обтяження, відомості про які наявні в реєстрах.
        p Як скористатися функцією? Тисни кнопку НАЗК  

        button.popup__close.button-close(type="button") Меню
        a(href="https://nazk.gov.ua/uk/u-reyestri-deklaratsij-z-yavylasya-funktsiya-yaka-dozvolyt-deklarantam-diznavatysya-vidomosti-pro-svoyu-vlasnist-nayavni-v-reyestrah-vona-polegshyt-zapovnennya-deklaratsiyi-dlya-tyh-hto-vtratyv-dokum/", target='_blank')
          button.nazk_btn(type="button") НАЗК
        .pop__block-logo   
          img.pop__logo(src="/img/knoeledge_logo.svg", alt="knowlogo")   
