.popup(data-popup="popup-22" data-close-overlay)
  .popup__wrapper(data-close-overlay)
    .popup__content
      .popup__body
        h2 22. Хто належить до службових осіб, які займають відповідальне та особливо відповідальне становище?
        ul Службовими особами, які займають відповідальне та особливо відповідальне становище, є /примітка до ст. 51-3 Закону/:
          ol Президент України;
          ol Прем’єр-міністр України, член Кабінету Міністрів України, перший заступник або заступник міністра;
          ol член Національної ради України з питань телебачення і радіомовлення; 
          ol член Національної комісії, що здійснює державне регулювання у сфері ринків фінансових послуг; 
          ol член Національної комісії з цінних паперів та фондового ринку; 
          ol член Національної комісії, що здійснює державне регулювання у сферах електронних комунікацій, радіочастотного спектра та надання послуг поштового зв’язку;
          ol член Антимонопольного комітету України;
          ol уповноважений з розгляду скарг про порушення законодавства у сфері публічних закупівель;
          ol Голова Державного комітету телебачення і радіомовлення України;
          ol Голова Фонду державного майна України, його перший заступник або заступник;
          ol член Центральної виборчої комісії;
          ol член, дисциплінарний інспектор Вищої ради правосуддя; 
          ol керівник служби дисциплінарних інспекторів Вищої ради правосуддя та його заступник;
          ol член, інспектор Вищої кваліфікаційної комісії суддів України;
          ol народний депутат України;
          ol Уповноважений Верховної Ради України з прав людини;
          ol Уповноважений із захисту державної мови; 
          ol члени Національної комісії зі стандартів державної мови;
          ol Директор Національного антикорупційного бюро України, його перший заступник та заступник;
          ol Голова Національного агентства з питань запобігання корупції та його заступники;
          ol Генеральний прокурор, його перший заступник та заступник;
          ol Голова Національного банку України, його перший заступник та заступник; 
          ol член Ради Національного банку України;
          ol Секретар Ради національної безпеки і оборони України, його перший заступник та заступник;
          ol Керівник Офісу Президента України, його перший заступник та заступник; 
          ol Постійний Представник Президента України в Автономній Республіці Крим, його перший заступник та заступник; 
          ol радник або помічник Президента України, Прем’єр-міністра України;
          ol особи, посади яких належать до посад державної служби категорії «А» або «Б»; 
          ol особи, посади яких згідно з ч. 1 ст. 14 Закону України «Про службу в органах місцевого самоврядування» віднесені до 1 – 3 категорій;
          ol судді, судді Конституційного Суду України;
          ol прокурори, слідчі і дізнавачі;
          ol керівники, заступники керівників державних органів, юрисдикція яких поширюється на всю територію України, їх апаратів та самостійних структурних підрозділів; 
          ol керівники, заступники керівників державних органів, органів влади Автономної Республіки Крим, юрисдикція яких поширюється на територію однієї або кількох областей, Автономної Республіки Крим, міст Києва або Севастополя;
          ol керівники державних органів, органів влади Автономної Республіки Крим, юрисдикція яких поширюється на територію одного або кількох районів, міста республіканського в Автономній Республіці Крим або обласного значення, району в місті, міста районного значення;
          ol військові посадові особи вищого офіцерського складу.
          ol Інформація про те, чи належить суб’єкт декларування до службових осіб, які займають відповідальне та особливо відповідальне становище, зазначається станом на останній день звітного періоду.
          ol Розмежування службових осіб, які займають відповідальне становище, та осіб, які займають особливо відповідальне становище, Законом не передбачено.
        button.popup__close.button-close(type="button") Меню
        a(href="https://wiki.nazk.gov.ua/category/deklaruvannya/ii-sub-yekty-deklaruvannya/#post4199", target='_blank')
          button.nazk_btn(type="button") НАЗК
        .pop__block-logo 
          img.pop__logo(src="/src/assets/images/knoeledge_logo.svg", alt="knowlogo")   
