section.swiper-bottom.swiper-general
  .question__container
    .swiper.SwiperBottom  
      .swiper-wrapper
        .swiper-slide.swiper-slide-bottom
          include ./qcard/qcard1.pug
        .swiper-slide.swiper-slide-bottom
          include ./qcard/qcard1.pug
        .swiper-slide.swiper-slide-bottom
          include ./qcard/qcard1.pug
        .swiper-slide.swiper-slide-bottom
          include ./qcard/qcard1.pug
        .swiper-slide.swiper-slide-bottom
          include ./qcard/qcard1.pug
        .swiper-slide.swiper-slide-bottom
          include ./qcard/qcard1.pug
        .swiper-slide.swiper-slide-bottom
          include ./qcard/qcard1.pug
        
        
