section.swiper-top.swiper-general
  .question__container
    h1.swiperQ-title Консультації
    .swiper.mySwiper.Swipertop
      .swiper-wrapper
        .swiper-slide
          include ./qcard/qcard2.pug
        .swiper-slide
          include ./qcard/qcard1.pug
        .swiper-slide
          include ./qcard/qcard3.pug
        .swiper-slide
          include ./qcard/qcard4.pug
        .swiper-slide
          include ./qcard/qcard5.pug
        .swiper-slide
          include ./qcard/qcard6.pug
      .swiper-pagination
