.accordion
  .accordion__item
    .accordion__header Элемент 1
    .accordion__content
      p Контент 1
    
  .accordion__item
    .accordion__header Элемент 2
    .accordion__content
      p Контент 2
    
  .accordion__item
    .accordion__header Элемент 3
    .accordion__content
      p Контент 3

