sectiom.knowledge
  .knowledge__container
    .knowledge__block-top 
      .knowledge__block-img 
        img.knowledge__img(src="/img/knowledge_img.png", alt="knowimg")
      .knowledge__content 
        h2.knowledge__title База знань. 
        img.knowledge__logo(src="/img/knoeledge_logo.svg", alt="knowlogo")
        p.knowledge_text Консультації та відповіді на актуальні питання.
    .knowledge__block 
      button.popup__btn(data-type='popup-2' type='button') 11 Які види декларацій існують, коли їх слід подавати і який звітний період вони охоплюють?
      button.popup__btn(data-type='popup-122' type='button') 2. Чи можна подати виправлену декларацію або іншим чином виправити інформацію, зазначену в декларації?
      button.popup__btn(data-type='popup-1-13' type='button') 1-13. Як коректно заповнити блок полів «Для ідентифікації за межами України»?
      button.popup__btn(data-type='popup-22' type='button') 22 Хто належить до службових осіб, які займають відповідальне та особливо відповідальне становище?
      button.popup__btn(data-type='popup-23' type='button') 23 Які посади належать до посад, пов’язаних з високим та підвищеним рівнем корупційних ризиків?
      button.popup__btn(data-type='popup1_12_0' type='button') 12. Станом на яку дату зазначається інформація в декларації про суб’єкта декларування?
      button.popup__btn(data-type='popup_2023' type='button') Кампанія декларування за 2023 звітний період: кому потрібно подати декларації?
      //- a.question(href="/pages/question.html") 
      //-   button.question__btn Більше консультацій ...
    include ./popups/popup2.pug
    include ./popups/popup122.pug
    include ./popups/popup113.pug
    include ./popups/popup22.pug
    include ./popups/popup23.pug
    include ./popups/popup1_12_0.pug
    include ./popups/popup_2023.pug
    