section.laws 
  .laws__container 
    .laws__general 
      .laws__img-block 
        img.laws__img(src="/src/assets/images/laws.png", alt="laws")
      nav.laws__nav 
        h2.laws__title Нормативно-правові акти 
        img.laws__logo(src="/img/knoeledge_logo.svg", alt="knowlogo")
        //- p.laws__text Консультації та відповіді на актуальні питання.
        ul.laws__list 
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/1700-18#Text", target='_blank')
              button.laws__btn(type="button") Закон про запобігання корупції
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z2146-23#Text", target='_blank')
              button.laws__btn(type="button") Про затвердження Порядку відбору декларацій осіб, уповноважених на виконання функцій держави або місцевого самоврядування, для проведення повної перевірки та черговості такої перевірки на підставі оцінки ризиків
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z1965-23#Text", target='_blank')
              button.laws__btn(type="button") Про затвердження форми декларації особи, уповноваженої на виконання функцій держави або місцевого самоврядування, та Порядку заповнення та подання декларації особи, уповноваженої на виконання функцій держави або місцевого самоврядування
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z1966-23#Text", target='_blank')
              button.laws__btn(type="button") Про затвердження Переліку посад з високим та підвищеним рівнем корупційних ризиків
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z1873-23#Text", target='_blank')
              button.laws__btn(type="button") Про затвердження Порядку здійснення моніторингу способу життя суб’єктів декларування
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z1791-23#Text", target='_blank')
              button.laws__btn(type="button") Про затвердження Порядку вилучення з відкритого доступу декларації особи, уповноваженої на виконання функцій держави або місцевого самоврядування
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z1296-23#Text", target='_blank')
              button.laws__btn(type="button") Про затвердження Порядку проведення перевірок організації роботи із запобігання і виявлення корупції
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z1242-23#Text", target='_blank')
              button.laws__btn(type="button") Про затвердження Порядку координації реалізації Антикорупційної стратегії на 2021-2025 роки та Державної антикорупційної програми на 2023-2025 роки
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z0946-23#Text", target='_blank')
              button.laws__btn(type="button") Про затвердження Порядку електронної інформаційної взаємодії електронних інформаційних ресурсів НАЗК та ДПСУ України
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z0623-23#Text", target='_blank')
              button.laws__btn(type="button") Про затвердження Порядку електронної інформаційної взаємодії НАЗК, МВС України та ЦОВК, діяльність яких спрямовується та координується КМУ через Міністра внутрішніх справ України
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z0022-23#Text", target='_blank')
              button.laws__btn(type="button") Про затвердження Порядку ведення Єдиного порталу повідомлень викривачів
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z1303-21#Text", target='_blank')
              button.laws__btn(type="button") Порядок перевірки факту подання суб’єктами декларування декларацій відповідно до ЗУ «Про запобігання корупції» та повідомлення НАЗК про випадки неподання чи несвоєчасного подання таких декларацій
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z0989-21#Text", target='_blank')
              button.laws__btn(type="button") Порядок інформування НАЗК про відкриття валютного рахунка в установі банку-нерезидента
          li.laws__item 
            a(href="https://zakon.rada.gov.ua/laws/show/z0988-21#Text", target='_blank')
              button.laws__btn(type="button") Порядок інформування НАЗК про суттєві зміни у майновому стані суб’єкта декларування
          