section.mainboard
  .mainboard-background
  .mainboard__container
    .mainboard-content 
      .mainboard__logo
        img.mainboard__img(src="/img/logomain.png", alt="logomain")
      h1.mainboard__title Помічник-консультант <br/> з питань запобігання корупції
      p.mainboard_text Сайт містить корисну інформацію з питань запобігання корупції для державних службовців 
    .mainboard-jamce
      img.mainboard-jamce__img(src="/img/James.png", alt="jamce")